<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/f07dfe0dda.js" crossorigin="anonymous"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ContabilitaWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ContabilitaWeb.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-warning" asp-area="" asp-controller="Home" asp-action="Index">ContabilitaWeb</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Azienda" asp-action="ViewAll">Aziende</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Fattura" asp-action="ViewAll">Fatture</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Pagamento" asp-action="ViewAll">Pagamenti</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Movimenti" asp-action="Search">Movimenti</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            <partial name="_CustomModalConfirm" />
            <partial name="_CustomModalAlert" />
            <div class="row">
                @{string colonna = "container";
                    var nomeController = ViewContext.RouteData.Values["controller"] == null ? "" : ViewContext.RouteData.Values["controller"]?.ToString();
                }

                @if (ViewContext.RouteData.Values["controller"] != null && nomeController != "Home")
                {
                    colonna = "col-10";
                    switch (nomeController)
                    {
                        case "Azienda": <partial name="_SidebarAzienda" />; break;
                        case "Fattura": <partial name="_SidebarFattura" />; break;
                        case "Pagamento": <partial name="_SidebarPagamento" />; break;
                        case "Movimenti": colonna = "col-12"; break;
                    }
                }
            <div class="@colonna">
                <partial name="_MessageResponse" />
                <div id="divPageLoading" class="positionFixed" style="display:none">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border text-secondary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
                @RenderBody()
            </div>
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ContabilitaWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/ajax/jquery.unobtrusive-ajax.js"></script>
    <script src="~/lib/FoolProf/mvcfoolprof.core.js"></script>
    <script src="~/lib/FoolProf/mvcfoolprof.jquery.validation.js"></script>
    <script src="~/lib/FoolProf/mvcfoolprof.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
