@using ContabilitaWeb.Utility;

@{
    var responseMessage = ViewMessage.GetResponse(this);
    string classe = "";
    if(responseMessage != null)
    {
        classe = responseMessage.IsSuccess ? "alert-success" : "alert-danger";
    }
}


@if (responseMessage != null)
{
<div class="alert @classe alert-dismissible text-center" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    @Html.Raw(responseMessage.Message)
</div>
}


