<div class="col-2">
    <nav class="navbar navbar-toggleable-sm navbar-light bg-dark border-danger box-shadow mb-sm-3">
        <div class="container">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-danger" asp-area="" asp-controller="Pagamento" asp-action="ViewAll">Visualizza Pagamenti</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-info" asp-area="" asp-controller="Pagamento" asp-action="NewPagamento">Nuovo Pagamento</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-info" asp-area="" asp-controller="Pagamento" asp-action="EditPagamento">Modifica Pagamento</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger" asp-area="" asp-controller="Pagamento" asp-action="ViewAllRiscossioni">Visualizza Riscossioni</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-info" asp-area="" asp-controller="Pagamento" asp-action="NewRiscossione">Nuova Riscossione</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-info" asp-area="" asp-controller="Pagamento" asp-action="EditRiscossione">Modifica Riscossione</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>