@using ContabilitaWeb.Models
@model InputRicercaMovimenti

@{
    var data = Model?.DataAl == null ? DateTime.Now.ToString("yyyy-MM-dd") : Model.DataAl.ToString("yyyy-MM-dd");
    var dataDal = Model?.DataDal == null ? DateTime.Now.ToString("yyyy-MM-01") : Model.DataDal.ToString("yyyy-MM-dd");
    var nameAzienda = !string.IsNullOrEmpty(Model?.Azienda) && ViewBag.ResultList?[0] != null ? ViewBag.ResultList[0].RagioneSociale : "";
    var pivaAzienda = !string.IsNullOrEmpty(Model?.Azienda) && ViewBag.ResultList?[0] != null ? ViewBag.ResultList[0].PartitaIva : "";
}

<div class="row mt-3">
    <div class="col-xl-3 mt-1">
        <div class="form-floating">
            <input id="idInputDataDal" type="date" asp-for="DataDal" class="form-control" placeholder="Seleziona la data d'inizio" value="@dataDal">
            <label asp-for="DataDal"></label>
        </div>
    </div>
    <div class="col-xl-3 mt-1">
        <div class="form-floating">
            <input id="idInputDataAl" type="date" asp-for="DataAl" class="form-control" placeholder="Seleziona la data di fine" value="@data">
            <label asp-for="DataAl"></label>
        </div>
    </div>
    <div class="col-xl-3 mt-1">
        <div class="form-floating">
            <select id="idInputTipoMovimento" type="text" asp-for="TipoMovimento" class="form-select" placeholder="Seleziona un tipo per filtrare">
                <option>Tutti</option>
                <option>Fattura</option>
                <option>Nota di credito</option>
                <option>Pagamento</option>
            </select>
            <label asp-for="TipoMovimento"></label>
        </div>
    </div>
    <div class="col-xl-3 mt-1">
        <div class="form-floating input-group">
            <input id="idInputAzienda" type="hidden" asp-for="Azienda" class="form-control" value="@pivaAzienda">
            <input id="idInputAziendaRag" type="text" class="form-control" placeholder="Seleziona l'azienda per filtrare" value="@nameAzienda">
            <label asp-for="Azienda"></label>
            <div class="input-group-append">
                <button class="btn btn-success dropdown-toggle" type="button" onclick="ShowDynamicViewAllAziende('/Azienda/GetAllAziende')" style="height: calc(3.5rem + 2px); border-start-start-radius:0; border-end-start-radius:0">
                    Seleziona
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 mt-3 text-end">
        <label id="btnRicerca" class="me-3">
            <button type="button" class="btn btn-success" title="Avvia la ricerca" onclick="RicercaMovimenti()"><i class="fa fa-search"></i> Ricerca</button>
        </label>
    </div>
</div>

<script type="text/javascript">
        var callbackGenericTable;  //viene definita in GenericTable
        var checkOpenGenericTable = "";

        function ShowDynamicViewAllAziende(url) {
            checkOpenGenericTable = "Aziende";
            $("#Div_DynamicView_ContainerAllAziende").load(url);
            $("#Div_DynamicViewAllAziende").show();
            dispatchOpenPopupCustomEvent('ViewAllAziende');
            if (callbackGenericTable !== undefined) {
                document.removeEventListener('closedPopup_CustomEvent', callbackGenericTable(ShowDynamicViewAllAziende), false);
            }
        }
        document.addEventListener('openPopup_CustomEvent', (event) => {
            if (event.Sender === "GenericTable") {
                if (checkOpenGenericTable == "Aziende") {
                    call_setContainerGenericTableAziende();
                }
            }
        }, false)

        function call_setContainerGenericTableAziende() {
            setContainerGenericTable('Div_DynamicViewAllAziende', 'Div_DynamicView_ContainerAllAziende', 'ViewAllAziende', callbackGetValueSelectedAziende);
        }
        function callbackGetValueSelectedAziende(selectedValues) {
            setSelectedValuesAziende(selectedValues);
        }
        function setSelectedValuesAziende(values) {
            if (values == null) {
                return false;
            }
            $("#idInputAziendaRag").val(DecodeEntities(values.RagioneSociale));
            $("#idInputAzienda").val(values.PartitaIVA);
        }
</script>
