@using ContabilitaWeb.Models
@model InputRicercaMovimenti

@{
    var resultList = ViewBag.ResultList != null ? ViewBag.ResultList : null;
}

<h3 class="text-center">Movimenti</h3>

<section>
    <div class="p-2 bg-light shadow">
        <form id="FormRicerche" method="post" action="Search" autocomplete="off">
            <partial name="_FormRicerche" model="Model" />
        </form>
    </div>
</section>

<partial name="_TableResultRicerche" model="@resultList" />

<div id="Div_DynamicViewAllAziende" class="positionFixed" style="display:none">
    <div class="finestraPopup">
        <div id="Div_DynamicView_ContainerAllAziende">

        </div>
    </div>
</div>

<script type="text/javascript">
    function RicercaMovimenti(){
        $("#FormRicerche").submit();
    }
</script>