@using ContabilitaWeb.Models
@model Pagamento

<h3 class="text-center">Nuovo Pagamento</h3>

<section>
    <div class="p-2 bg-light shadow">
        <form id="FormNewPagamento" method="post" action="NewPagamento" autocomplete="off">
            <partial name="_FormPagamento" model="Model"/>
        </form>
    </div>
</section>

<script type="text/javascript">
    function RegistraPagamento() {
        var data = $("#idInputData").val();        
        var importo = $("#idInputImporto").val();
        var azienda = $("#idInputAzienda").val();
        
        if (data == null || data == "" || data == undefined) {
            myCustomModalAlertShow("Dati incompleti", "La data è obbligatoria");
            return;
        }
        if (importo == null || importo == "" || importo == undefined) {
            myCustomModalAlertShow("Dati incompleti", "l'importo è obbligatorio");
            return;
        }
        
        if (azienda == null || azienda == "" || azienda == undefined) {
            myCustomModalAlertShow("Dati incompleti", "L'azienda è obbligatoria");
            return;
        }
        var form = $("#FormNewPagamento");
        form.submit();
    }

    function EliminaPagamento() {
        return;
    }

    function Annulla() {
        document.location.href='/Pagamento/NewPagamento';
    }
</script>
